* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "InterRegular", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input,
textarea,
select {
    font-family: "InterRegular", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.thumb {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    cursor: pointer;


}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "InterRegular", Arial;
    font-weight: 500;
    color: #000;
}

@font-face {
    font-family: 'InterBold';
    src: url('assets/fonts/Inter-Bold.woff2') format('woff2'),
        url('assets/fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InterRegular';
    src: url('assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InterSemiBold';
    src: url('assets/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --theme-color: #A6FF34
}